<h1> Edit Profile </h1>

<%= form_for(@user, html: {multipart: true}) do |f|%>
    <%=f.label :first_name%>
    <%= f.text_field :first_name %>
    <%=f.label :last_name%>
    <%= f.text_field :last_name %>
    
    <%= f.file_field :profile_pic%>
    <%= f.submit "Save changes"%>
<%end%>