<% @users.each do |user| %>
  <%if user.id != current_user.id%>
    <li><%= link_to "Check profile", user_path(user) %></li>
    <%= user.first_name %>
    <%= user.last_name %><br>
    <%= user.profile_pic %>
    <br>
    <%if current_user.friend?(user)%>
      <p> Drop </p>
    <%elsif current_user.pending_friends.include?(user)%>
         <%= button_to  user_unfriend_path(user), method: :delete , class:"btn btn-danger" do %>
              <i class="pull-right fa fa-times"> Cancel Request</i>
            <%end%>
    <%elsif current_user.friend?(user)%>
      <p> Friend </p>
    <%else%>
      <%= button_to  user_friendships_path(user), class:"btn btn-default" do %>
        <i class="pull-right fas fa-user-plus">Add friend</i>
      <%end%>
    <%end%>
    <hr>
  <%end%>
<% end %>