
<div class="row">
    <aside class="col-md-4">
       <h1> Profile Page </h1>
        <section class="user_info">
            <h1>
                <%= current_user.first_name %>
                <%= current_user.last_name%>
            </h1>

            <%= avatar_for(@user)%>
        </section>

        <%= link_to "Edit", edit_user_path(@user)%>
    </aside>
    <% @user.posts.each do |post| %>
      <p><%= post.content %></p>
      <%= time_ago_in_words(post.created_at) %> ago
      <%if current_user?(post.user)%>
        <%= link_to  "Edit", edit_post_path(post) %>
        <%= link_to  "Delete", post, method: :delete, data: { confirm: "You sure?" } %>
        <br> <br>
      <% end %>
    <% end %>
</div>