
<div>
<% @posts.each do |p| %>
  <p>Author:<%= p.user.first_name%>
  <p>Content:<%= p.content %></p>
  <%= time_ago_in_words(p.created_at) %> ago
  <br> 
  <%if current_user?(p.user)%>
    <%= link_to  "Edit", edit_post_path(p) %>
    <%= link_to  "Delete", p, method: :delete, data: { confirm: "You sure?" } %>

    <br> <br>
  <%end%>
    <%= link_to "Like" , likes_path(post_id: p.id.to_i), method: :post, class:"btn btn-default"  do %>
      <i class="glyphicon glyphicon-thumbs-up"></i> 
    <%end%>
  <br> <br> <br>
  <div class = "post-comment">
    <%p.comments.each do |comment|%>
      <p>Name:<%= comment.user.first_name%>
      <p>Comment:<%= comment.comment %></p>
      <%= time_ago_in_words(comment.created_at) %> ago
      <%if current_user?(comment.user) %>
        <%= link_to  "Delete", comment, method: :delete, data: { confirm: "You sure?" } %>
        <%= link_to "Edit", edit_comment_path(comment)%>
      <%elsif current_user.id != comment.user && current_user.id == p.user_id %>
        <%= link_to  "Delete", comment, method: :delete, data: { confirm: "You sure?" } %>
        <br> <br>
      <%end%>
    <%end%>
  </div>

  <%= form_for Comment.new do |f| %>
    <%= f.text_area :comment, class: "form-control" %>
    <ul class='list-inline post-actions'>
      <li class="pull-right"><%= f.submit "Comment", class: "btn btn-primary btn-xs" %></li>
    </ul>
     <%= f.hidden_field :post_id, :value => p.id %>
  <% end  %>
  <hr>
  <br> <br >   <br> <br >   <br> <br >
<%end%>

</div>