
<% @posts.each do |p| %>
  <p>Author:<%= p.user.first_name%>
  <p>Content:<%= p.content %></p>
  <%= time_ago_in_words(p.created_at) %> ago
  <br> 
  <%if current_user?(p.user)%>
    <%= link_to  "Edit", edit_post_path(p) %>
    <%= link_to  "Delete", p, method: :delete, data: { confirm: "You sure?" } %>
    <br> <br>
  <%end%>
  <hr>
<%end%>

