<div class="card" style="width: 18rem;">
<div class="card-body">
<% @friends.each do |user| %>
    <li><%= link_to "Check profile", user_path(user) %></li>
    <%= user.first_name %>
    <%= user.last_name %><br>
    <%= user.profile_pic %><br>
     <%= button_to 'Delete Friend', user_unfriend_path(user), method: :delete, class: 'btn-danger'%>
    <br>
    <hr>
<% end %>
</div>
</div>